/* Temas del segundo período*/

.texto{
    font-size: 25px;
    padding-top: 50px;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:left;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("colorido.jpg");
    background-repeat: repeat;

}

.titulo{
    font-size: 80px;
    text-align: center;
    text-shadow: -4px 0 black, 0 1px black, 1px 0 black, 0 -4px black;
    color: rgba(255, 0, 0, 0.938);

}

.subtitulo{

     font-size: 60px;
     text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 white, 0 -1px white;
     color: rgb(0, 0, 0);
     text-align: center;
}

.imgIng{

    height: 303px;
    width: 450px;
    background-image: url(Ingles.jpeg);
    float:left;
    }
    
    .imgIng2{
    
        height: 303px;
        width: 545px;
        background-image: url(Ingles2.jpeg);
        float:left;
    }
    
    .ImgIng3{
    
        height: 331px;
        width: 330px;
        background-image: url(Ingles3.jpeg);
        float:left
    }    
    
    .ImgIng4{
    
        height: 418px;
        width: 399px;
        background-image: url(Ingles4.jpeg);
        float:left
    }    
    
    .ImgIng5{
    
        height: 246px;
        width: 222px;
        background-image: url(Ingles5.jpeg);
        float:left
    
    }
    
    .ImgIng6{
    
        height: 294px;
        width: 334px;
        background-image: url(Ingles6.jpeg);
        float:left
    
    }
    
    
    
    .ImgIng7{
    
        height: 234px;
        width: 346px;
        background-image: url(Ingles7.jpeg);
        float:left
    
    }
    
    
    .ImgIng8{
    
        height: 250px;
        width: 245px;
        background-image: url(Ingles8.jpeg);
        float:left
    
    }
    
    .ImgIng9{
    
        height: 250px;
        width: 245px;
        background-image: url(Ingles9.jpeg);
        float:left
    
    }
    
    .ImgIng10{
    
        height: 216px;
        width: 288px;
        background-image: url(Ingles10.jpeg);
        float:left
    
    }
    
    .ImgIng11{
    
        height: 216px;
        width: 288px;
        background-image: url(Ingles11.jpeg);
        float:left
    
    }
    
    
    .ImgIng12{
    
        height: 216px;
        width: 288px;
        background-image: url(Ingles12.jpeg);
        float:left
    
    }
    
    .ImgIng13{
    
        height: 274px;
        width: 288px;
        background-image: url(Ingles13.jpeg);
        float:left
    
    }
    
    
    .ImgIng14{
    
        height: 216px;
        width: 288px;
        background-image: url(Ingles14.jpeg);
        float:left
    
    }

    .ImgBio{

        height: 308px;
        width: 319px;
        background-image: url(Biologia1.jpeg);
        float: left;
    background-repeat: no-repeat;
    }
    
    .ImgBio2{
    
        height: 260px;
        width: 305px;
        background-image: url(Biologia2.jpeg);
    background-repeat: no-repeat;
    float: left;
    
    }
    
    .ImgBio3{
    
        height: 303px;
        width: 700px;
        background-image: url(Biologia3.jpeg);
    background-repeat: no-repeat;
    
    }
    
    .ImgBio4{
    
        height: 235px;
        width: 360px;
        background-image: url(Biologia4.jpeg);
    
    }
    
    .ImgBio5{
    
        height: 230px;
        width: 303px;
        background-image: url(Biologia5.jpeg);
    
    }

    .ImgQui{

        height: 267px;
        width: 343px;
        background-image: url(Quimica1.jpeg);
        float:left;
    }
    
    .ImgQui2{
    
        height: 208px;
        width: 343px;
        background-image: url(Quimica2.jpeg);
        float:left;
    }
